body {
    padding: 0;
    margin: 0;
}

header > div {
    width: 100%;
    border: 2px solid black;
}

header > div > img {
    width: 3%;
    margin-top: 0.3%;
    margin-left: 1.5%;
}

header > div > div {
    float: right;
    display: block;
}

header > div > div > a {
    margin: 5%;
    border: 2px solid black;
}

header > div > div > img {
    width: 1%;
}






